:root {
	--primary-text-color: #212121;
	--text-color-hover: #2196f3;
	--accent-color: #ffffff;
}

body {
	background-color: #ffffff;
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}
.list {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
/* header */
.logo-part-one {
	color: var(--text-color-hover);
}

/* nav section */

/* nav */
.nav-section {
	outline: 5px solid red;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
/* logo */
.logo {
	outline: 5px solid red;
	color: #000000;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.nav .link {
	color: var(--primary-text-color);
	text-decoration: none;
}
.nav .link:hover,
.nav .link:focus {
	color: var(--text-color-hover);
}

/* contacts */

.contacts .link {
	color: #757575;
	text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
	color: var(--text-color-hover);
}
/* main */

/* hero */
/* БЕЛЫЙ ЦВЕТ!!! */
.hero-title {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-button {
	display: inline-block;
	color: var(--accent-color);
	background-color: var(--text-color-hover);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	text-decoration: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;
}
/* section with features of the company */
.section-title {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.section-text {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-size: 14px;
	line-height: 1.71;
}
/* company specialization */
.specialization {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.specialization-item {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	color: var(--accent-color);
}

/* section team */
.section-team {
	background-color: #f5f4fa;
	font-size: 16px;
	line-height: 1.9;
}
.our-team {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.section-team .person {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}
.section-item {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}
.list .link:hover,
.list .link:focus {
	color: var(--text-color-hover);
}
/* customers */
.customers {
	outline: 5px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
/* footer */
.footer {
	background-color: #2f303a;
}

.logo-part-two {
	color: var(--accent-color);
}
.adrress {
	color: var(--accent-color);
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
}
.adrress-contacts .link {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
.join-in {
	color: var(--accent-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.site-developers > p {
	color: rgba(255, 255, 255, 0.4);
	font-size: 12px;
	line-height: 2;
	text-align: center;
}

/* Portfolio */

.filter-link {
	text-decoration: none;
	color: var(--primary-text-color);
}
.button-filter {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
}
.button-filter:hover,
.button-filter:focus {
	color: var(--text-color-hover);
}

.filter-article {
	font-size: 18px;
	line-height: 1.55;
}
.filter-heading {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.filter-caption {
	font-size: 16px;
	line-height: 1.87;
	color: #757575;
}
