:root {
	--primary-text-color: #212121;
	--text-color-hover: #2196f3;
	--accent-color: #ffffff;
}

body {
	background-color: #ffffff;
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}
.list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	list-style: none;
}
h1,
h2,
h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

/* nav section */

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	width: 1200px;
	outline: 1px solid red;
}

/* header */

/* nav-section */
.nav-section {
	outline: 1px solid red;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav-section,
.nav,
.contacts {
	display: flex;
}
/* logo */
.logo {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: 85px;

	color: #000000;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.logo-part-one {
	color: var(--text-color-hover);
}

/* nav */

.nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primary-text-color);
	text-decoration: none;
}
.nav .link:hover,
.nav .link:focus {
	color: var(--text-color-hover);
}

.nav .item + .item {
	margin-left: 50px;
}

/* .nav {
	display: flex;
} */

/* contacts */

.contacts .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: #757575;
	text-decoration: none;
}
.contacts .link {
	display: block;
	align-items: center;
}
.contacts .link:hover,
.contacts .link:focus {
	color: var(--text-color-hover);
}

.contacts .item:first-child {
	margin-left: 305px;
}
.contacts .item + .item {
	margin-left: 30px;
}

/* .contacts {
	display: flex;
} */

/* main */

/* hero */
/* БЕЛЫЙ ЦВЕТ!!! */

.hero {
	outline: 1px solid red;
	margin-bottom: 94px;
	padding-top: 200px;
	padding-bottom: 200px;

	text-align: center;
	background-color: rosybrown;
}

.hero-title {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-button {
	display: inline-block;
	padding: 10px 32px;

	color: var(--accent-color);
	background-color: var(--text-color-hover);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	letter-spacing: 0.06em;
	text-decoration: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	min-width: 200px;
}
/* section with features of the company */

.features {
	margin-bottom: 94px;
	outline: 1px solid red;
}

.image-features {
	margin-bottom: 30px;
	border: solid transparent;
	width: 270px;
	height: 120px;
	background: #f5f4fa;
	border-radius: 4px;
}

.section-title {
	margin-bottom: 10px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.section-text {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-size: 14px;
	line-height: 1.71;
}
/* company specialization */

.company-specialization {
	margin-bottom: 94px;
}

.specialization {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.specialization-item {
	margin-top: 0px;
	margin-bottom: 0px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	color: var(--accent-color);
}

/* section team */
.section-team {
	background-color: #f5f4fa;
	margin-bottom: 94px;
}
.our-team {
	margin-bottom: 50px;
	padding-top: 94px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.section-team .person {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}
.section-item {
	margin-top: 0px;
	margin-bottom: 0px;

	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}
.list .link:hover,
.list .link:focus {
	color: var(--text-color-hover);
}
/* customers */

.customer-list {
	margin-bottom: 94px;
}

.customers {
	margin-top: 0px;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

/* footer */
.footer {
	background-color: #2f303a;
}

.logo-down {
	display: inline-block;
	padding-top: 45px;
	margin-bottom: 8px;

	color: #000000;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.logo-part-two {
	color: var(--accent-color);
}
.adrress {
	color: var(--accent-color);
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
}
.adrress-contacts .link {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
.join-in {
	color: var(--accent-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.site-developers > p {
	margin-top: 0px;
	margin-bottom: 0px;

	color: rgba(255, 255, 255, 0.4);
	font-size: 12px;
	line-height: 2;
	text-align: center;
}

/* Portfolio */

.nav-portfolio {
	margin-bottom: 93px;
}

.filter-title {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.filter {
	display: inline-block;
	margin-bottom: 34px;
}

.filter-list {
	display: inline-block;
	margin-bottom: 94px;
}

.filter-link {
	text-decoration: none;
	color: var(--primary-text-color);
}
.button-filter {
	display: inline-block;
	padding: 6px 22px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	background: #f5f4fa;
	border-radius: 4px;
}
.button-filter:hover,
.button-filter:focus {
	background-color: var(--text-color-hover);
	color: var(--accent-color);
}

.filter .button-filter.one {
	min-width: 73px;
}

.filter .button-filter.two {
	min-width: 128px;
}
.filter .button-filter.three {
	min-width: 145px;
}
.filter .button-filter.four {
	min-width: 103px;
}
.filter .button-filter.five {
	min-width: 130px;
}

.filter-article {
	font-size: 18px;
	line-height: 1.55;
}
.filter-heading {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.filter-caption {
	font-size: 16px;
	line-height: 1.87;
	color: #757575;
}
